.icon_button {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  transition: 0.2s;
  outline: none;
}

.icon_button:hover {
  transform: scale(1.1);
}

.icon_button_black {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  margin-top: 10px;
  margin-left: 10px;
  color: $font-color;
  transition: 0.2s;
  outline: none;
}

.icon_button_black:hover {
  transform: scale(1.1);
}

#menu_button {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  font-size: 1.6rem;
  z-index: 2;
  background: transparent;
  outline: none;
  transition: 0.4s;
}

#menu_button:hover {
  transform: rotate(45deg);
}

#menu_button.active {
  color: white;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: auto;
  background: transparent;
  font-size: 1.5rem;
  color: white;
  border: none;
  outline: none;
  z-index: 10;
}

.searchbutton {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
  transition: 0.2s;
  outline: none;
}
.searchbutton:hover {
  transform: scale(1.1);
}

.skelltonbutton {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
  transition: 0.2s;
  outline: none;
  margin-top: 20px;
  border: 1px solid white;
}

.skelltonbutton:hover {
  transform: scale(1.1);
}

.loginbutton {
  position: absolute;
  left: 10px;
  bottom: 20px;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
  transition: 0.2s;
  outline: none;
  margin-top: 20px;
  border: 1px solid white;
}

#floating {
  position: absolute;
  color: white;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $sidebar-background;
  box-shadow: 2px 2px 1px $main-color;
  outline: none;
  border: none;
}

input [type='file'] {
  display: none;
  opacity: 0;
}

.custom-file-upload {
  border: 1px solid white;
  color: white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.basicbutton {
  background: transparent;
  color: $border-color;
  font-size: 15px;
  border: 1px solid $border-color;
  border-radius: 20px;
  background: transparent;
  outline: none;
  margin-left: 10px;
  padding: 10px;
}

.basicbutton:hover {
  color: white;
  border: 1px solid white;
}

.basicbutton-white {
  background: transparent;
  color: $border-color;
  font-size: 15px;
  border: 1px solid $border-color;
  border-radius: 20px;
  background: transparent;
  outline: none;
  margin-left: 10px;
  padding: 10px;
}

.basicbutton-white:hover {
  color: $hover-color;
  border: 1px solid $hover-color;
}

input[type='submit'] {
  background: transparent;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid $font-color;
  padding: 10px;
  color: $font-color;
  outline: none;
}
input[type='submit']:hover {
  color: white;
  border: 1px solid white;
}

.button {
  background: none;
  border: none;
  color: white;
  outline: none;
}
