.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(73, 53, 53);
}
#chat__container {
  padding-top: 50px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.time__container {
  font-size: 0.5rem;
}

.mechat {
  text-align: right;
}

.youchat {
  text-align: left;
}

.bubble__container {
  margin: 20px;
}

.youchat span {
  background: rgb(103, 199, 65);
}

.mechat span {
  background: rgb(75, 21, 201);
}

.menu__container {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 200px;
  transition: 0.5s;
  border-left: 1px solid $border-color;
  input {
    width: 80%;
    margin-top: 20px;
  }
}
.menu__container.active {
  right: -200px;
}

.inner__chat__container {
  position: relative;
  width: calc(100% - 200px);
  transition: 0.5s;
}

.inner__chat__container.active {
  width: 100%;
}

.header_menubutton {
  position: absolute;
  top: 10px;
  font-size: 1.2rem;
  right: 10px;
  border: none;
  outline: none;
}
.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(73, 53, 53);
}
ul {
  list-style: none;
}

li {
  padding: 30px;
  margin: 0px;
}

.mechat {
  text-align: right;
}

.youchat {
  text-align: left;
}

.bubble__container {
  margin: 20px;
}

.youchat span {
  background: rgb(103, 199, 65);
}

.mechat span {
  background: rgb(75, 21, 201);
}

span {
  padding: 10px;

  color: white;
  border-radius: 20px;
}

#chat__container {
  padding-top: 50px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.time__container {
  font-size: 0.5rem;
}

.addbutton {
  background: transparent;
  color: $border-color;
  font-size: 10px;
  border: 1px solid $border-color;
  border-radius: 15px;
  background: transparent;
  outline: none;
  margin-left: 10px;
}
.addbutton:hover {
  color: $font-color;
}

#chatinput {
  width: 80%;
  color: $font-color;
}

.friendnamecontainer {
  background: white;
  z-index: 2;
  position: fixed;
  height: 50px;
  top: 0px;
  width: calc(100% - 210px);
  h2 {
    margin: 6px;
  }
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

#chatinput__container {
  position: fixed;
  bottom: 0px;
  //   left: 220px;
  width: calc(100% - 210px);
  background: white;
  padding: 20px;
  //   min-width: 600px;
  margin: 0 auto;
  display: flex;

  //   button {
  //     font-size: 10px;
  //     border: 1px solid $border-color;
  //     border-radius: 15px;
  //     background: transparent;
  //     outline: none;
  //     margin-left: 10px;
  //   }
  input {
    border-radius: 20px;
    border: 1px solid $border-color;
    font-size: 20px;
    font-weight: 100;
    padding: 6px;
    outline: none;
  }
}

input {
  border-radius: 20px;
  border: 1px solid $border-color;
  font-size: 20px;
  font-weight: 100;
  padding: 6px;
  outline: none;
}
