@import '../scss/color.scss';
.form__container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  input[type='text'],
  input[type='password'] {
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
  }

  textarea {
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 30px;
    resize: none;
    width: 70%;
    height: 100px;
  }

  p {
    font-weight: 600;
  }

  .errormessage {
    color: rgb(209, 87, 78);
  }
}

.form__container_width {
  width: 100%;
}

.panel {
  position: fixed;
  background: $main-color;
  height: 100vh;
  width: 100vw;
  top: calc(100vh + 300px);
  z-index: 3;
  transition: 0.3s;
}

.panel.active {
  top: 0;
}

.result__container {
  height: 200px;
  margin: 30px;

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
